@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    background-color: rgb(145, 215, 228);
    background-size: cover;
    box-sizing: border-box;
}

div.horizontal {
    display: flex;
    justify-content: center;
}

.mat-dialog-container {
    padding: 0 !important;
    display: flex !important;
}

.mat-tab-body-content {
    overflow: hidden !important;
}
