form {
    margin: 2rem;
}

.form-container {
    display: flex;
    flex-direction: column;
}

mat-form-field {
    width: 25rem;
}

h4{
    text-align: center;
}

button.submit {
    width: 10rem;
    margin: 0 auto;
}

mat-spinner {
    margin: 2rem auto;

}

p.end {
    padding: 2rem;
}