<h4>Proszę wypełnić poniższy formularz:</h4>


<mat-spinner *ngIf="displaySpinner"></mat-spinner>


<mat-horizontal-stepper *ngIf="!displaySpinner">
  <mat-step [stepControl]="overallForm">
    <form class="form-container" [formGroup]="overallForm">
      <ng-template matStepLabel>Ogólne</ng-template>
      <mat-form-field *ngFor="let question of overallQuestions">
        <mat-select [placeholder]="question.displayName" [formControlName]="question.displayName">
          <mat-option *ngFor="let option of question.options" [value]="option.value">
            {{option.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext>Dalej</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="painForm">
    <form class="form-container" [formGroup]="painForm">
      <ng-template matStepLabel>Ból</ng-template>
      <mat-form-field *ngFor="let question of painQuestions">
        <mat-select [placeholder]="question.displayName" [formControlName]="question.displayName">
          <mat-option *ngFor="let option of question.options" [value]="option.value">
            {{option.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Wstecz</button>
        <button mat-button matStepperNext>Dalej</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="otherForm">
    <form class="form-container" [formGroup]="otherForm">
      <ng-template matStepLabel>Inne</ng-template>
      <mat-form-field *ngFor="let question of otherQuestions">
        <mat-select [placeholder]="question.displayName" [formControlName]="question.displayName">
          <mat-option *ngFor="let option of question.options" [value]="option.value">
            {{option.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Wstecz</button>
        <button mat-button matStepperNext>Dalej</button>
      </div>
    </form>
  </mat-step>


  <mat-step [stepControl]="historyForm">
    <form class="form-container" [formGroup]="historyForm">
      <ng-template matStepLabel>Historia</ng-template>
      <mat-form-field *ngFor="let question of historyQuestions">
        <mat-select [placeholder]="question.displayName" [formControlName]="question.displayName">
          <mat-option *ngFor="let option of question.options" [value]="option.value">
            {{option.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Wstecz</button>
        <button mat-button matStepperNext>Dalej</button>
      </div>
    </form>
  </mat-step>


  <mat-step [stepControl]="examinationForm">
    <form class="form-container" [formGroup]="examinationForm">
      <ng-template matStepLabel>Badania</ng-template>
      <mat-form-field *ngFor="let question of examinationQuestions">
        <mat-select [placeholder]="question.displayName" [formControlName]="question.displayName">
          <mat-option *ngFor="let option of question.options" [value]="option.value">
            {{option.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Wstecz</button>
        <button mat-button matStepperNext>Dalej</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="stomachForm">
    <form class="form-container" [formGroup]="stomachForm">
      <ng-template matStepLabel>Brzuch</ng-template>
      <mat-form-field *ngFor="let question of stomachQuestions">
        <mat-select [placeholder]="question.displayName" [formControlName]="question.displayName">
          <mat-option *ngFor="let option of question.options" [value]="option.value">
            {{option.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Wstecz</button>
        <button mat-button matStepperNext>Dalej</button>
      </div>
    </form>
  </mat-step>


  <mat-step>
    <ng-template matStepLabel>Koniec</ng-template>
    <p class="end">Dziękujemy za wypełnienie formularza.
      <br>Możesz go teraz zatwierdzić by otrzymać diagnozę.</p>
  </mat-step>

</mat-horizontal-stepper>
<div *ngIf="!displaySpinner" class="horizontal">
  <button class="submit" mat-raised-button color="primary" (click)="onSubmit()" [disabled]="!areFormsValid()">Diagnozuj</button>
</div>