<div class="text-container">
  <div class="horizontal">
      <img src="assets/doc.png">  
  </div>
  <h4>Do czego służy?</h4>
  <p>Aplikacja umożliwia dowolnej osobie dokonanie samoanalizy przyczyny dolegliwości brzusznych.</p>
  <h4>Jak korzystać?</h4>
  <p>Aby skorzystać z aplikacji wystarczy wypełnić formularz informacjami na temat dolegliwości, doświadczeniami chorobowymi
    oraz kilkoma ogólnymi informacjami. Aplikacja w oparciu o algorytm o
    <b>97%</b> skuteczności przedstawi powiązaną chorobę.
  </p>
</div>