a, a:hover {
    text-decoration: none;
    color: black;
    outline: none;
}

a:hover {
    color: rgb(28, 49, 94);
}

img.modal {
    float: left;
    width: 30%;
}

.modal-content {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    text-align: center;
    position: relative;
    width: 70%;
    height: 100%;
    float: right;
}

.modal-footer {
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    background-color: #3f51b5;
    color: white;
    padding: 0.7rem 0;
    font-weight: bold;
}

.icd-10 {
    font-size: 0.75rem;
}

.icd-10 b a {
    color: #3f51b5;    
}

.icd-10 b a:hover {
    color: #5666b4;    
}

a img {
    height: 16px;
    width: 16px;
}