<img class="modal" src="assets/doctor.jpg" />

<div class="modal-content">
  <p>
    Zdiagnozowano:
    <br>
    <br>
    <b>{{data.diagnose}}</b>
  </p>

  <p>
    <b>Zalecenia</b>: {{data.doctor}}
    <a href="https://www.google.pl/maps/search/{{data.doctor}}" target="blank">
      <img src="assets/maps_32dp.ico">
    </a>
  </p>

  <p class="icd-10">
    <b>
      <a href="https://pl.wikipedia.org/wiki/Mi%C4%99dzynarodowa_Klasyfikacja_Chor%C3%B3b_ICD-10" target="blank">
        ICD-10</a>
    </b>: {{data.icd10}}
  </p>

  <a class="modal-footer" target="blank" [href]="data.url">Czytaj więcej >></a>
</div>