<mat-card>
    <mat-tab-group>
        <mat-tab label="O aplikacji">
            <app-about></app-about>
        </mat-tab>
        <mat-tab label="Zbadaj się">
            <app-illness-form></app-illness-form>
        </mat-tab>
        <mat-tab label="Autorzy">
            <div class="text-container">
                <div class="horizontal">
                    <img src="assets/authors.png">
                </div>
                <h4>Krótko o autorach</h4>
                <p>Autorami aplikacji są studenci IV roku informatyki na Politechnice Wrocławskiej,<br>
                    <b>Mateusz Burniak</b> i
                    <b>Michał Bieroński</b>.</p>
                <p>Projekt został przeprowadzony w ramach programu kursu Informatyka Medyczna 2 (2017).</p>
            </div>
        </mat-tab>
    </mat-tab-group>
</mat-card>
