mat-card {
    margin: 0 10rem;
}

.text-container {
    margin: 1rem 6rem;
}

img{
    width: 8rem;
    height: 100%;    
}

h4 {
    text-align: center;
}

ul {
    list-style-type: none;
}

p {
    text-align: center;
}